{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
        <div class="form-group" id="fos_user_registration_form">
         
        <div>
        {{ form_label(form.imie, 'Imię', {'label_attr': {'class': 'etykieta'}}) }}
        {{ form_widget(form.imie, { 'attr': {'class': 'form-control', 'placeholder': 'Imię'|trans } }) }}
        <span class="komunikat"></span>
        {{ form_errors(form.imie) }}
        </div>
        <div>
        {{ form_label(form.nazwisko, 'Nazwisko', {'label_attr': {'class': 'etykieta'}}) }}
        {{ form_widget(form.nazwisko, { 'attr': {'class': 'form-control', 'placeholder': 'Nazwisko'|trans } }) }}
        <span class="komunikat"></span>
        {{ form_errors(form.nazwisko) }}
        </div>
        <div>
        {{ form_label(form.username, 'Nazwa użytkownika', {'label_attr': {'class': 'etykieta'}}) }}
        {{ form_widget(form.username, { 'attr': {'class': 'form-control', 'placeholder': 'form.username'|trans } }) }}
        <span class="komunikat"></span>
        {{ form_errors(form.username) }}
        </div>
        <div>
        {{ form_label(form.plainPassword.first, 'Hasło', {'label_attr': {'class': 'etykieta'}}) }}
        {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control', 'placeholder': 'form.password'|trans } }) }}
        <span class="komunikat"></span>
        {{ form_errors(form.plainPassword.first) }}
        </div>
        <div>
        {{ form_label(form.plainPassword.second, 'Powtórz hasło', {'label_attr': {'class': 'etykieta'}}) }}
        {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control', 'placeholder': 'form.password_confirmation'|trans } }) }}
        <span class="komunikat"></span>
        {{ form_errors(form.plainPassword.second) }}
        </div>
        <div>
        {{ form_label(form.data_urodzenia, 'Data urodzenia', {'label_attr': {'class': 'etykieta'}}) }}
        {{ form_widget(form.data_urodzenia, { 'attr': {'class': 'form-control', 'placeholder': 'data urodzenia'|trans } }) }}
        {{ form_errors(form.data_urodzenia) }}
        </div>
        <div>
        {{ form_label(form.email, 'Adres E-mail', {'label_attr': {'class': 'etykieta'}}) }}
        {{ form_widget(form.email, { 'attr': {'class': 'form-control', 'placeholder': 'form.email'|trans } }) }}
        <span class="komunikat"></span>
        {{ form_errors(form.email) }}
        </div>
        {{ form_rest(form) }}

    </div>
    <div>
        <input type="submit" id="form_save" class="btn btn-primary" value="{{ 'registration.submit'|trans }}" />
    </div>
{{ form_end(form) }}
