{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
{% include "@FOSUser/Registration/register_content.html.twig" %}
{% endblock fos_user_content %}
{% block javascripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>
    
    $(document).ready(function(){
        
        $('#fos_user_registration_form_imie').on('blur', function(){
            var input = $(this);
            var input_length = input.val().length;
            if(input_length < 1){
                input.removeClass("valid").addClass("invalid");
                input.next('.komunikat').text("to pole nie może być puste.").removeClass("ok").addClass("blad");
            }else if(input_length > 10){
                input.removeClass("valid").addClass("invalid");
                input.next('.komunikat').text("to pole nie może mieć więcej niż 10 znaków").removeClass("ok").addClass("blad");
            }else{
                input.removeClass("invalid").addClass("valid");
                input.next('.komunikat').text("").removeClass("blad").addClass("ok");
            }
        });
        
        $('#fos_user_registration_form_nazwisko').on('blur', function(){
            var input = $(this);
            var input_length = input.val().length;
            if(input_length < 1){
                input.removeClass("valid").addClass("invalid");
                input.next('.komunikat').text("to pole nie może być puste.").removeClass("ok").addClass("blad");
            }else if(input_length > 10){
                input.removeClass("valid").addClass("invalid");
                input.next('.komunikat').text("to pole nie może mieć więcej niż 10 znaków").removeClass("ok").addClass("blad");
            }else{
                input.removeClass("invalid").addClass("valid");
                input.next('.komunikat').text("").removeClass("blad").addClass("ok");
            }
        });
        
        $('#fos_user_registration_form_username').on('blur', function(){
            var input = $(this);
            var input_length = input.val().length;
            if(input_length < 1){
                input.removeClass("valid").addClass("invalid");
                input.next('.komunikat').text("to pole nie może być puste.").removeClass("ok").addClass("blad");
            }else if(input_length > 10){
                input.removeClass("valid").addClass("invalid");
                input.next('.komunikat').text("to pole nie może mieć więcej niż 10 znaków").removeClass("ok").addClass("blad");
            }else{
                input.removeClass("invalid").addClass("valid");
                input.next('.komunikat').text("").removeClass("blad").addClass("ok");
            }
        });
        
        $('#fos_user_registration_form_plainPassword_first').on('blur', function(){
            var input = $(this);
            var pattern = /^[a-zA-Z0-9-,\^=:+<>\{\}\.\[\]\\/}()_@!#$%&*?]+$/;
            var is_pass_valid = pattern.test(input.val());
            var input_length = input.val().length;
            var input_second = $('#fos_user_registration_form_plainPassword_second');
            if(input_length < 8){
                input.removeClass("valid").addClass("invalid");
                input.next('.komunikat').text("to pole nie może mieć mniej niż 8 znaków.").removeClass("ok").addClass("blad");
            }else if(input_length > 14){
                input.removeClass("valid").addClass("invalid");
                input.next('.komunikat').text("to pole nie może mieć więcej niż 14 znaków").removeClass("ok").addClass("blad");
            }else if(!is_pass_valid){
                input.removeClass("valid").addClass("invalid");
                input.next('.komunikat').text("dozwolone znaki alfanumeryczne, specjalne i interpunkcyjne =,:-+<>.[]\/{}()_@!#$%^&*?").removeClass("ok").addClass("blad");

            }else{
                if(input.val() != input_second.val()){
                    input.removeClass("valid").addClass("invalid");
                    input.next('.komunikat').text("podane hasła powinny być takie same").removeClass("ok").addClass("blad");
                    input_second.removeClass("valid").addClass("invalid");
                }else{
                    input.removeClass("invalid").addClass("valid");
                    input.next('.komunikat').text("").removeClass("blad").addClass("ok");
                    input_second.removeClass("invalid").addClass("valid");
                    input_second.next('.komunikat').text("").removeClass("blad").addClass("ok");
                }
            }
        });
        
        $('#fos_user_registration_form_plainPassword_second').on('blur', function(){
            var input = $(this);
            var pattern = /^[a-zA-Z0-9-,\^=:+<>\{\}\.\[\]\\/}()_@!#$%&*?]+$/;
            var is_pass_valid = pattern.test(input.val());
            var input_length = input.val().length;
            var input_first = $('#fos_user_registration_form_plainPassword_first');
            console.log(input.val()+" "+input_first.val());
            if(input_length < 8){
                input.removeClass("valid").addClass("invalid");
                input.next('.komunikat').text("to pole nie może mieć mniej niż 8 znaków.").removeClass("ok").addClass("blad");
            }else if(input_length > 14){
                input.removeClass("valid").addClass("invalid");
                input.next('.komunikat').text("to pole nie może mieć więcej niż 14 znaków").removeClass("ok").addClass("blad");
            }else if(!is_pass_valid){
                input.removeClass("valid").addClass("invalid");
                input.next('.komunikat').text("dozwolone znaki alfanumeryczne, specjalne i interpunkcyjne =,:-+<>.[]\/{}()_@!#$%^&*?").removeClass("ok").addClass("blad");
            }else{
                if(input.val() != input_first.val()){
                    input.removeClass("valid").addClass("invalid");
                    input.next('.komunikat').text("podane hasła powinny być takie same").removeClass("ok").addClass("blad");
                    input_first.removeClass("valid").addClass("invalid");
                }else{
                    input.removeClass("invalid").addClass("valid");
                    input.next('.komunikat').text("").removeClass("blad").addClass("ok");
                    input_first.removeClass("invalid").addClass("valid");
                    input_first.next('.komunikat').text("").removeClass("blad").addClass("ok");
                }
            }
        });
        
        $('#fos_user_registration_form_email').on('blur', function(){
            var input = $(this);
            var pattern = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9-.]+\.[a-zA-Z]{2,4}$/;
            var is_email = pattern.test(input.val());
            var input_length = input.val().length;
            if(input_length < 1){
                input.removeClass("valid").addClass("invalid");
                input.next('.komunikat').text("to pole nie może być puste.").removeClass("ok").addClass("blad");
            }else if(!is_email){
                input.removeClass("valid").addClass("invalid");
                input.next('.komunikat').text("to nie jest prawidłowy format adresu email").removeClass("ok").addClass("blad");
            }else{
                input.removeClass("invalid").addClass("valid");
                input.next('.komunikat').text("").removeClass("blad").addClass("ok");
            }
        });
       
        $('#form_save').click(function(event){
            var imie = $('#fos_user_registration_form_imie');
            var nazwisko = $('#fos_user_registration_form_nazwisko');
            var login = $('#fos_user_registration_form_username');
            var haslo_first = $('#fos_user_registration_form_plainPassword_first');
            var haslo_second = $('#fos_user_registration_form_plainPassword_second');
            var email = $('#fos_user_registration_form_email');
            
            if(imie.hasClass('valid') && nazwisko.hasClass('valid') && login.hasClass('valid') && 
                haslo_first.hasClass('valid') && haslo_second.hasClass('valid') && email.hasClass('valid')){
                
            }else{
                event.preventDefault();
                $(this).next('.komunikat_submit').text("Wypełnij prawidłowo wszystkie pola").removeClass("ok").addClass("blad");
            }
        });
    
    });
    </script>
{% endblock %}