input.invalid{
    border: 3px solid #cb2431;
}

input.valid{
    border: 1px solid rgba(0, 0, 0, 0.15);
}

.blad{
    color: #cb2431;
}

.ok{
    color: black;
}

span.komunikat{
    color: #cb2431;
    margin-top: -15px;
    margin-bottom: 9px;
    display:block;
    float:right;
}

span.komunikat_email{
    color: #cb2431;
}

span.komunikat_submit{
    color: #cb2431;
}

p.odstep{
    height: 10px;
}

form div{
    width: 600px;
}

form{
    max-width: 400px;
    margin: 50px 100px 0 0;
    padding: 20px;
}

input[type=submit]{
    display: block;
    margin: 10px;
}

.etykieta{
    margin-left: 10px;
    margin-bottom: -5px;
}

.form-control{
    margin: 10px;
}
