{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}

    <label for="username" class="etykieta">{{ 'security.login.username'|trans }}</label>
    <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" required="required" />

    <label for="password" class="etykieta">{{ 'security.login.password'|trans }}</label>
    <input type="password" class="form-control" id="password" name="_password" required="required" />
    
    <label for="remember_me" class="etykieta">{{ 'security.login.remember_me'|trans }}</label>
    <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>


    <input type="submit" class="btn btn-primary" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
</form>
